<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= sanitize render partial: "api/users/user",
      formats: :json,
      handlers: :jbuilder,
  		locals: {user: current_user} %>,
  </script>
<% end %>

<div id='root'>This is the root</div>