.address-input {
  display: flex;
  margin-left: 20px;
}

.address-input p {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0ch;
  text-transform: none;
  color: white;
  display: block;
  font-variant-ligatures: no-common-ligatures;
  margin: 0px 4px;
  padding: 0px;
}

.address-input span {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(235, 23, 0);
  display: block;
  font-variant-ligatures: no-common-ligatures;
  margin: 0px;
  padding: 0px;
}

.address-input span:nth-child(3) {
  cursor: pointer;
}

.address-dropdown {
  box-sizing: border-box;
  width: 300px;
  position: absolute;
  top: 105%;
  background-color: black;
  max-height: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 101;
  box-shadow: 0px 2px 6px rgb(89, 89, 89);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 300ms ease-in-out 0s;
}

.animate-dropdown {
  max-height: 100px;
  opacity: 1;
}

.address-dropdown-input {
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  margin: 16px;
  padding: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.address-dropdown-input input {
  margin-left: 15px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  width: 100%;
  border: none;
}

.address-dropdown-input input::placeholder {
  color: white;
  // opacity: 1;
}

.address-prompt {
  position: absolute;
  background: rgb(79, 79, 79);
  color: white;
  border-radius: 7px;
  width: 122px;
  opacity: 0.8;
  top: 8px;
  left: 377px;
  padding: 3px 0px 3px 10px;
  opacity: 1;
  transition: opacity 300ms ease-in-out 0s;
  cursor: pointer;
}

.animate-prompt {
  opacity: 0;
  cursor: default;
}


.address-prompt:before {
  position: absolute;
  left: -9px;
  top: 8px;
  display: inline-block;
  border-top: 9px solid transparent;
  border-right: 9px solid rgb(79, 79, 79);
  border-bottom: 9px solid transparent;
  content: "";
}

.submit-container {
  display:flex;
  justify-content: flex-end;
}

.address-dropdown-submit {
  color: white;
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
  align-self: center;
  margin: 0 15px 10px 0px;
}