.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 16px;
    width: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button_line {
    width: 17px;
    height: 2px;
    background: black;
}