.navbar {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 48px;
    top: 0;
    left: 0;

}

.navbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;


}
.navbar_logo {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}


.navbar_logo {
    margin-left: 1rem;
}

.navbar_nav-items a:hover, 
.navbar_nav-items a:active {
    color: #fa923f
}

.spacer {
    flex: 1;
}

@media (max-width: 500px) {
    .navbar_nav-items {
        display: none;
    }
}

