.navbar {
    position: fixed;
    width: 100%;
    background-color: black;
    height: 48px;
    top: 0;
    left: 0;
    z-index: 2000;

}

.navbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;


}
.navbar_logo {
  color: white;
  font-family: 'Bubblegum Sans';
  font-weight: 500;
  font-size: 32px;
  display: flex;
  justify-content: center;
}


.navbar_logo {
    margin-left: 1rem;
}

.navbar_nav-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_nav-items li {
  padding: 0 0.5rem;
  width: 60px;
  display: flex;
  align-items: center;
}

.navbar_nav-items a {
  color: white;
  height: 30px;
  text-decoration: none;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_nav-items a:hover, 
.navbar_nav-items a:active {
  color: black;
  background-color: white;
  border-radius: 15px;
  width: 80px;
}

.spacer {
    flex: 1;
}

@media (max-width: 500px) {
    .navbar_nav-items {
        display: none;
    }
}

