.side-drawer {
    height: 100%;
    background-color:white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    overflow: scroll;
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer a {
    text-decoration: none;
    font-size: 18px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 24px;
    color: #191919;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.side-drawer li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(222, 222, 222);
    width: 100%;
    max-width: 355px;
    padding: 14px 20px 14px 10px;
    text-align: center;
}

.side-drawer-link span {
    vertical-align: middle;
}

.side-drawer li:hover {
background-color: rgb(247, 247, 247);
}

.side-drawer li:active {
    background-color: rgb(231, 231, 231);
}

@media (max-width: 250px) {
    .side-drawer {
        display: none;
    }
}

.closer-box {
    padding: 7px 10px 10px 10px;
}


.closer:hover {
    background-color: rgb(247, 247, 247);
    border: 0px solid white;
    border-radius: 100%;
    max-width: 30px;
    padding: 5px 5px 0px 5px;
    transition: 0.3s;
    
}

.side-bar-icon {
    font-size: 25px;
    padding: 5px 25px 0px 5px;
}
