.side-drawer {
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 350px;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;

}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.side-drawer.open {
    transform: translateX(0);
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 1.0);
}

.side-drawer a {
    display: flex;
    text-decoration: none;
    font-size: 18px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 24px;
    color: white;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
}

.side-drawer li {
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(222, 222, 222);
    width: 100%;
    max-width: 320px;
    padding: 14px 20px 14px 10px;
    text-align: center;
}

.side-drawer-link span {
    vertical-align: middle;
}

.side-drawer li:hover {
background-color: rgb(33, 33, 33);
}

.side-drawer li:active {
    background-color: rgb(80, 80, 80);
}

@media (max-width: 250px) {
    .side-drawer {
        display: none;
    }
}

.closer-box {
    padding: 1px 5px 1px 1px;
    margin-left: 10px;
    margin-top: 7px;
}


.closer-box:hover {
    background-color: rgb(33, 33, 33);
    border: 0px solid white;
    border-radius: 50%;
    max-width: 30px;
    padding: 1px 5px 1px 1px;
    transition: 0.3s;
    margin-left: 10px;
    margin-top: 7px;

}

.side-bar-icon {
    font-size: 25px;
    padding: 5px 25px 0px 5px;
    color: white;
}
