.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(111, 111, 111, 0.7);
  z-index: 1000;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-closer {
    padding: 1px 5px 1px 1px;
    margin-left: 10px;
    margin-top: 7px;
    background-color: transparent;
}


.modal-closer:hover {
    background-color: rgb(235, 235, 235);
    border: 0px solid white;
    border-radius: 50%;
    max-width: 30px;
    padding: 1px 5px 1px 1px;
    transition: 0.3s;
    margin-left: 10px;
    margin-top: 7px;

}

.modal-icon {
    font-size: 25px;
    padding: 5px 25px 0px 5px;
    color: black;
}

.modal-item-container {
  position: relative;
  min-height: 0px;
  max-height: calc(100vh - 32px);
  max-width: 560px;
  width: calc(100vw - 32px);
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  overflow: hidden;
}

.modal-item-container h1 {
  font-size: 32px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  text-align: left;
  display: block;
  font-variant-ligatures: no-common-ligatures;
  max-width: 400px;
  margin: 0px;
  padding: 8px 16px;
}

.modal-item-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}