// Store Index Containers

.store-index-container {
    padding-top: 64px;
    background-color: rgb(247, 247, 247);
}

.store-index-box {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 960px;
    flex-direction: row;
    margin: 0px auto;
}

.filter-list-container {
    flex: 33 1 0%;
}

.store-list-container {
    flex: 66 1 0%;
    overflow: hidden;
    padding: 0px 12px;
}

// Store Index Individual Restaurants

// Index Picture Section
.index-item-pictures {
    display: flex;
    opacity: 1;
}

.picture-container {
    flex: 1 1 auto;
    margin: 24px 16px 4px;
}


.index-picture {
    height: 139.5px;
    width: 279px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 4px;
}

