// Store Index Item

.index-item-container {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 16px;
    transition: all 200ms ease-in-out 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 4px;
}

.index-item-container:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 26px, rgba(0, 0, 0, 0.08) 0px 2px 8px;
    transform: scale(1.01);
}

.index-item-container:active {
  transform: scale(1.02);
}

// Store Index Item Picture
// Index Picture Section
.index-item-pictures {
  display: flex;
  opacity: 1;
}

.picture-container {
  flex: 1 1 auto;
  margin: 24px 16px 4px;
}


.index-picture {
  height: 139.5px;
  width: 279px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 4px;
}

// Index Store Info Section
.index-item-title span {
    font-size: 18px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.04ch;
    text-transform: none;
    color: rgb(25, 25, 25);
    display: block;
    font-variant-ligatures: no-common-ligatures;
    margin: 0px;
    padding: 0px;
}

.index-item-title {
    display: flex;
    align-items: baseline;
}

.index-item-title p {
    color: rgb(0, 131, 138);
    margin-left: 5px;
}


.index-item-info {
    display: flex;
    width: 100%;
    transition: all 200ms ease 0s;
}

.info-container {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    opacity: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px 16px;
    overflow: hidden;
    transition: all 1000ms ease 0s;
}

.info-title {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;   
}

.info-title span {
    font-size: 18px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.04ch;
    text-transform: none;
    color: rgb(25, 25, 25);
    display: block;
    font-variant-ligatures: no-common-ligatures;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.info-title p {
    display: block;
    margin-left: 4px;
    text-decoration: none;
    height: 16px;
    width: 16px;
    x: 0px;
    y: 0px;
    color: rgb(0, 131, 138);
}

.info-filters {
  display: flex;
  justify-content: space-between;
}

.info-filters span {
    font-size: 14px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0ch;
    text-transform: none;
    color: rgb(118, 118, 118);
    display: block;
    font-variant-ligatures: no-common-ligatures;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.info-misc span {
    font-size: 14px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    text-transform: none;
    color: rgb(118, 118, 118);
    display: block;
    font-variant-ligatures: no-common-ligatures;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    align-items: baseline;
}

.info-misc p {
    font-size: 12px;
    color: rgb(118, 118, 118);
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin-left:3px;
    margin-right: 8px;
}


.info-review {
    -webkit-box-flex: 0;
    flex-grow: 0;
    display: flex;
    -webkit-box-pack: justify;
    // align-items: baseline;
}
