.checkout-index-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
  position: relative;
  width: 100%;
  height: 100%;
  top: 48px;
  background-color: white;
  padding-bottom: 50px;
}

.checkout-index-container {
  width: calc(100vw - 340px);
  min-height: calc(100vh - 120px);
}

.checkout-index-card {
  max-width: 630px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.checkout-index {
  max-width: 100%;
  margin-bottom: 20px;
}

#address-section {
  border-top: none;
}

.checkout-section {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  margin: 20px 16px;
  // border-bottom: 1px solid rgb(214, 214, 214);
  border-top: 1px solid rgb(214, 214, 214);
}

.checkout-section-header {
  width: 150px;
}

.checkout-section-header h2 {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.1ch;
  text-transform: uppercase;
  color: rgb(25, 25, 25);
  display: block;
  font-variant-ligatures: no-common-ligatures;
  margin: 0px;
  padding: 0px;
}

.checkout-address-input {
  width: 365px;
  margin-right: 15px;
}

.checkout-section-details {

  flex: 1 1 0%;
}

#map {
  height: 200px;
  flex: 1 1 0%;
}

#address {
  margin-top: 20px;
}



.checkout-section-details p {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  display: block;
  font-variant-ligatures: no-common-ligatures;
  margin: 0px;
  padding: 0px;
}

.checkout-section-details button {
  position: relative;
  max-width: 100%;
  display: flex;
  min-height: 40px;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1ch;
  background-color: rgb(235, 23, 0);
  box-shadow: transparent 0px 0px 0px 1px inset;
  margin: 0px;
  padding: 0px;
  border-radius: 1000px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  text-decoration: none;
}

.checkout-section-details button:hover {
    background-color: #c61400;
    transition: 0.3s;
}

.checkout-section-details button:active {
  background-color: #a21101;
  transition: 0.3s;
}


.checkout-section-details button:focus {
  outline: thin dotted; 
}

.payment-details {
  display: flex;
}

.payment-details svg {
  color: rgb(7, 66, 166);
  width: 24px;
  height: 18px;
  margin-right: 8px;
}

.summary-details {
  display: flex;
}

.summary-item-details {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  width: 340px;
}

.summary-item-details p {
  align-self: flex-end;
}

#button-section {
  border-top: none;
}

.remove-button {
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(235, 23, 0);
  display: block;
  font-variant-ligatures: no-common-ligatures;
  margin-left: 15px;
  padding: 0px;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed !important;
}