.splash-page {
  min-height: calc(100vh - 70px);
  background-color: white;
}

.splash-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  padding: 16px 0px 192px;
  min-width: 996px;
}

.splash-card {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  flex-flow: column;

}

.splash-text {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-right: 190px;
}

.splash-text h1 {
  color: rgb(255, 255, 255);
  font-family: 'Bubblegum Sans';
  font-weight: 500;
  font-size: 50px;
}

.splash-text span {
  margin-top: 72px;
  max-width: 668px;
  color: white;
  font-size: 32px;
  font-weight: 600;
  font-family:  Roboto;
}

.splash-text a {
  font-size: 22px;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
  background-color: black;
  padding: 7px;
  font-family: Roboto;
  font-weight: 700;
  margin-top: 15px;
  transition: 0.4s;
}

.splash-text a:hover {
  transform: scale(1.05);
}

.splash-text a:active {
  transform: scale(1.1);
}

.local-favorites-container {
  width: 100%;
  max-width: 1002px;
  margin: 0px auto 140px auto;
  flex: 1 0 auto;
}

.local-favorites-card h1 {
  font-size: 32px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  display: block;
  font-variant-ligatures: no-common-ligatures;
  margin: 0px;
  padding: 0px;
  width: 1000px;
}

.local-favorites-card {
  width: 100%;
  max-width: 100%;
  padding: 12px;
}

.local-favorites-index {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-flow: row wrap;
}

.splash-entry-points-container {
  width: 100%;
}

.first-entry-point {
  width: 100%;
  margin-bottom: -28px;
}

.entry-point {
  max-width: 1184px;
  flex-flow: row nowrap;
  margin: 0px auto;
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;

}

.entry-point-details {
  flex: 4 1 0%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 96px;
  flex-flow: column nowrap;
}

.entry-point-details h1 {
  font-size: 40px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.04ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  display: block;
  font-variant-ligatures: no-common-ligatures;
  margin: 0px;
  padding: 0px;
}

.entry-point-details span {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0ch;
  text-transform: none;
  color: rgb(25, 25, 25);
  display: block;
  font-variant-ligatures: no-common-ligatures;
  margin: 20px 0px;
  padding: 0px;
}

.entry-point-details a {
  width: 150px;
}

.entry-point-details button {
  position: relative;
  max-width: 100%;
  min-height: 40px;
  width: 150px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: rgb(235, 23, 0);
  box-shadow: transparent 0px 0px 0px 1px inset;
  margin: 0px;
  padding: 0px;
  border-radius: 1000px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: background-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  transition: 0.4s;
}

.entry-point-details button:hover {
  background-color: #c61400;
}

.entry-point-details button:active {
  background-color: #a21101;
}

.entry-point-details button:focus {
  outline: none;
}

.entry-point-picture img {
  height: 450px;
  width: 600px;
}

#first-pic {
  margin-left: 48px;
}

#second-pic {
  margin-right: 48px;
}
.second-entry-point {
  width: 100%;
  background: rgb(255, 240, 237);
  padding: 100px 0px 96px;
}

.second-entry {
  max-width: 1000px;
  flex-flow: row nowrap;
  margin: 0px auto;
}

.second-entry-picture {
  flex: 7 1 0%;
}

.second-entry-picture img {
  height: 450px;
  width: 600px;
}

.second-entry-details {
  flex: 4 1 0%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 48px;
  flex-flow: column nowrap;
}