.session-form-container {
    display: flex;
    justify-content: center;
    background-color: rgb(250,250,250);
    -webkit-box-align: center;
    padding-left: 0px;
    padding-right: 0px;
    max-width: none;
    height: 100%;
    min-height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid rgb(214, 214, 214);
    border-top: 1px solid rgb(214, 214, 214);
}

.session-form-box {
    min-height: 300px;
    width: 400px;
    background-color: white;

}

.session-form-card {
    display: flex;
    height: 100%;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.session-form-header {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.header {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.04ch;
    text-transform: none;
    color: rgb(25,25,25);
    font-variant-ligatures: no-common-ligatures;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
}

.session-form-context {
    font-size: 16px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 375;
    line-height: 20px;
    letter-spacing: 0ch;
    text-transform: none;
    color: rgb(118, 118, 118);
    display: block;
    font-variant-ligatures: no-common-ligatures;
    margin: 0px;
    padding: 0px;
}

#session-form-link {
    font-weight: 550;
    font-size: 15px;
    color: rgb(235,23,0);
    text-decoration: none;
}

.session-submit {
    background-color: #eb1700;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    width: 370px;
    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    letter-spacing: 0.4px;
    line-height: 40px;
}

.session-submit:hover {
    background-color: #c61400;
    transition: 0.3s;
}

.session-submit:focus {
    outline: none;
}

.fb-input {
    background-color: #3B5998;
    margin-top: 20px;
}

.fb-input:hover {
    background-color: rgb(45, 68, 118);
}

::after, ::before {
    box-sizing: border-box;
}

.header-divider-box {
    display: flex;
    justify-content: center;
}

.header-divider {
    color: gray;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
    width: 350px;
    margin: 7px 0px 20px 0px;
}

.header-divider::before {
    display: block;
    width: 100px;
    height: 1px;
    background-color: rgb(118, 118, 118);
    content: "";
    left: 0;
    top: 50%;
    position: absolute;
}

.header-divider::after {
    display: block;
    width: 100px;
    height: 1px;
    background-color: rgb(118, 118, 118);
    content: "";
    right: 0;
    top: 50%;
    position: absolute;
}

.login-input {
    width: 100%;
    // max-width: 400px;
    border-radius: 4px;
    height: 38px;
    box-sizing: border-box;
    margin-bottom: 0px;
    border: 1px solid rgb(198, 198, 198);
    padding-left: 10px;
    font-size: 16px;
}

.login-input:focus {
    border: 2px solid rgb(126, 126, 172); 
}

// Sign Up Form specific
.user-name {
    display: flex;
    max-width: 400px;
    // flex-direction: row;
    // justify-content: space-between;
    
}

.fname{
    width: 70%;
    margin-right: 10px;
}

.session-errors{
    font-size: 14px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    text-transform: none;
    color: rgb(183, 16, 0);
    display: block;
    font-variant-ligatures: no-common-ligatures;
    margin: 0px;
    padding-bottom: 20px;
}